body {
  display: flex;
  flex-direction: column;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 50px;
  min-width: 1632px;
}

.innerHeader {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 10px;
  border-color: lightgray;
  border-style: solid;
  width: 400px;
  border-radius: 10px;
}

.header {
  font-weight: bolder;
  font-size: 48px;
}

.slogan {
  font-size: 24px;
  margin-top: 0px;
}

.inputPrompt {
  font-size: 20px;
}

.controlPanels {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  flex-shrink: 1;
  min-width: 300px;
  gap: 6px;
  margin-right: 10px;
}

.mainContents {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  min-width: 100vw;
  gap: 3px;
}

.pad {
  width: 1024px;
  height: 1024px;
  border: 8px;
  border-color: lightgray;
  border-style: solid;
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
}

.filler {
  width: 100%;
  display: flex;
  flex-shrink: 1;
}

.colorControlPanel {
  outline: 2px rgb(68, 63, 63) solid;
  padding: 10px;
  width: 280px;
  border-radius: 4px;
}

.colorControlPanel > p,
label {
  font-size: 20px;
}

button {
  font-size: 16px;
  color: rgb(22, 21, 21);
  background-color: lightgray;
}

.sizeControlPanel {
  outline: 2px rgb(68, 63, 63) solid;
  padding: 10px;
  width: 280px;
  border-radius: 4px;
}
